body{
	background-color: #CBFFD3;
}

.point-item1 {
    padding-left: 40px;
    color: #f49623;
}

.item-desc1 {
    position: absolute;
    top: 12.5px;
    left: 10px;
    color: black;
}

.point-item2 {
    padding-left: 40px;
    color: #b4b329;
}


.item-desc2 {
    position: absolute;
    top: 12.5px;
    left: 10px;
    color: black;
}

.point-item3 {
    padding-left: 40px;
    color: #79cb44;
}


.item-desc3 {
    position: absolute;
    top: 12.5px;
    left: 10px;
    color: black;
}

/*白い枠を描写*/
.frame{
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 3%;
    margin: 3%;
    margin-top: 30px;
}